<!DOCTYPE html>
<html lang="##lang##">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0">
  
  <title>##siteTitle##</title>
  ##metaTags##
  ##ogTags##
  ##css##

  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.png">
</head>
<body id="##pageId##" data-pgid="##pageId##" class="##pageClasses## ##theme## ##execProfile##">
<div id="page" class="main-wrapper">
  <header class="site-header">
    <div class="app-control">
      <div class="logo">
        <p class="site-title">Skel</p>
      </div>

      <nav class="main-menu">
        ##mainMenuItems##
      </nav>
    </div>

    <div class="widgets-container">
      ##pageWidgets##
    </div>

  </header> <!-- end site-header -->

  <section class="content-container">

    ##mainContent##


		<footer class="site-footer">
      <div class="loading"></div>

      <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>
		</footer>
  </section> <!-- end content-container -->
</div> <!-- end main-wrapper -->
##javascript##
</body>
</html>

