/*------------------------------------*\
    MAIN
\*------------------------------------*/

@font-face {
  font-family: 'kaelshipmansans';
  src: url('/assets/fonts/kaelshipmansans-webfont.eot');
  src: url('/assets/fonts/kaelshipmansans-webfont.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/kaelshipmansans-webfont.woff2') format('woff2'),
     url('/assets/fonts/kaelshipmansans-webfont.woff') format('woff'),
     url('/assets/fonts/kaelshipmansans-webfont.ttf') format('truetype'),
     url('/assets/fonts/kaelshipmansans-webfont.svg#kaelshipmansansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gillius ADF No2';
  src: url('/assets/fonts/gilliusadfno2-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/gilliusadfno2-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gillius ADF No2';
  src: url('/assets/fonts/gilliusadfno2-bolditalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/gilliusadfno2-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gillius ADF No2';
  src: url('/assets/fonts/gilliusadfno2-italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/gilliusadfno2-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gillius ADF No2';
  src: url('/assets/fonts/gilliusadfno2-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/gilliusadfno2-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quercus';
  src: url('/assets/fonts/quercus-webfont.woff2') format('woff2'),
       url('/assets/fonts/quercus-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quercus';
  src: url('/assets/fonts/quercus_bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/quercus_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quercus';
  src: url('/assets/fonts/quercus_bold_it-webfont.woff2') format('woff2'),
       url('/assets/fonts/quercus_bold_it-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Quercus';
  src: url('/assets/fonts/quercus_it-webfont.woff2') format('woff2'),
       url('/assets/fonts/quercus_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}







/* global box-sizing */

*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html {
	font-size:16px;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 0;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a,
.faux-link {
  color: #00C8FC;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
	color: #00B0E4;
}
a:focus {
	outline: 1px dotted #00C8FC;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/* Note: font sizes are specified twice because of IE Bug: https://connect.microsoft.com/IE/feedback/details/772679/ie10-not-recognizing-font-decloration-when-rem-is-used-as-font-size-unit-of-measure */
h2 { font: normal 2.2em/1.4 'Quercus', sans-serif; font-size: 2.2rem; margin: 2rem 0 0; }
h3 { font: normal 1.8em/1.4 'Quercus', sans-serif; font-size: 1.8rem; margin: 1.8rem 0 0; }
h4 { font: normal 1.5em/1.4 'Quercus', sans-serif; font-size: 1.5rem; text-decoration: underline; margin: 1.5rem 0 0; }
h5 { font: normal 1.3em/1.4 'Quercus', sans-serif; font-size: 1.3rem; margin: 1.3rem 0 0; }
h6 { font: normal 1.2em/1.4 'Quercus', sans-serif; font-size: 1.2rem; color: #4D3D24; margin: 1.2rem 0 0; }

ol, ul {
  padding: 0 1.5rem 0 3.2rem;
}

h1 + ol, h1 + ul,
h2 + ol, h2 + ul,
h3 + ol, h3 + ul,
h4 + ol, h4 + ul,
h5 + ol, h5 + ul,
h6 + ol, h6 + ul {
  margin-top: 0;
}

.fixed-aspect {
  width: 100%;
  position: relative;
}
.fixed-aspect:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.fixed-aspect > .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



/* Items Viewers */

.items-viewer {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.items-viewer .control {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
  vertical-align: middle;
  display: block;
  background: transparent url('/assets/imgs/photo-carousel-control-left.png') center center no-repeat scroll;
  width: 40px;
  height: 100%;
}
.items-viewer .control.forward {
  left: auto;
  right: 0;
  background-image: url('/assets/imgs/photo-carousel-control-right.png');
}
.items-viewer .items-container {
  white-space: nowrap;
  position: relative;
  transition: margin-left .4s;
}
.items-viewer .items-container .item {
  cursor: pointer;
  display: inline-block;
}
.items-viewer .item.selected {
}


.items-viewer:-webkit-full-screen { width: 100vw; height: 100vh; }
.items-viewer:-moz-full-screen { width: 100vw; height: 100vh; }
.items-viewer:-ms-fullscreen { width: 100vw; height: 100vh; }
.items-viewer:fullscreen { width: 100vw; height: 100vh; }

.items-viewer:-webkit-full-screen .item { width: 100vw !important; height: 100vh !important; padding: 0 !important; }
.items-viewer:-moz-full-screen .item { width: 100vw !important; height: 100vh !important; padding: 0 !important; }
.items-viewer:-ms-fullscreen .item { width: 100vw !important; height: 100vh !important; padding: 0 !important; }
.items-viewer:fullscreen .item { width: 100vw !important; height: 100vh !important; padding: 0 !important; }















/*------------------------------------*\
 * Theme-specific
\*------------------------------------*/

body.ks1 {
  font-weight: normal;
  font-family: 'Gillius ADF No2', Helvetica, sans-serif;
  color:#3D3D24;
  background-color: white;
  text-align: center;
  padding-top: 75px;
}





/*****************
 * Header
 * **************/

.ks1 .main-wrapper {
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.ks1 .site-header {
	height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 900;
}

.ks1 .site-header .logo {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 20px;
	cursor: pointer;
  z-index: 1020;
  background: transparent url(/assets/imgs/logo-skel-icon.png) center center no-repeat scroll;
  background-size: contain;
}

.ks1 .site-title {
  font: bold 1.6em/1.6 kaelshipmansans, handwriting, monospace;
	font-size: 1.6rem;
	margin: 0;
	padding: 0 0 0 15px;
  text-align: right;
  position: fixed;
  top: 20px;
  right: 30px;
	background: white;
}



.ks1 .main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  padding-top: 60px;
  display: none;
  opacity: 0.0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  transition: opacity .2s;
  z-index: 1010;
}
.ks1 .main-menu.active {
  opacity: 1.0;
}

.ks1 .main-menu .menu-item {
  position: relative;
  display: block;
  /* Note: font sizes are specified twice because of IE Bug: https://connect.microsoft.com/IE/feedback/details/772679/ie10-not-recognizing-font-decloration-when-rem-is-used-as-font-size-unit-of-measure */
  font: 1.4em/3 kaelshipmansans, handwriting, monospace;
  font-size: 1.4rem;
  padding-left: 40px;
  text-align: left;
  color: inherit;
}

.ks1 .main-menu .submenu .menu-item {
  /* Note: font sizes are specified twice because of IE Bug: https://connect.microsoft.com/IE/feedback/details/772679/ie10-not-recognizing-font-decloration-when-rem-is-used-as-font-size-unit-of-measure */
  font: .9em/1.2 "Gillius ADF No 2", sans-serif;
  font-size: .9rem;
  margin: 0 0 0 auto;
  padding: 8px 10px 8px 55px;
}

.ks1 .main-menu .menu-item.selected {
  background-color: #000;
  color: white;
}

.ks1 .main-menu .submenu .menu-item.selected {
  background-color: #999;
}







/***********************
 * Main Body Content
 * ********************/

.ks1 .content-container p,
.ks1 .content-container h1,
.ks1 .content-container h2,
.ks1 .content-container h3,
.ks1 .content-container h4,
.ks1 .content-container h5,
.ks1 .content-container h6,
.ks1 .content-container .series-crumbs,
.ks1 .content-container address,
.ks1 .content-container time {
  padding: 0 20px;
}

.ks1 .content-container,
.ks1 .main-article {
  position: relative;
}

.ks1 .main-article header h2 {
  font-size: 1.5rem;
  margin: 0 0 10px;
}
.ks1 .main-article header section {
  font-size: .9rem;
  line-height: 1.2;
  margin: 10px 0;
}

.ks1 .content-container .post-main-img {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
	position: relative;
  margin: 20px 0;
  padding: 70% 0 0;
  width: 100%;
  display: none;
  z-index: 5;
}

.ks1 .main-article .with-image .post-main-img,
.ks1 .post-preview.has-image .post-main-img {
  display: block;
}








.ks1 .site-footer {
	padding: 55px 0;
  position: relative;
  background-color: white;
}

.ks1 .site-footer .loading {
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: height .125s;
}
.ks1 .site-footer .loading.active {
  height: auto;
}

.ks1 .site-footer .endmark {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 60px;
  left: 50%;
  overflow: hidden;
}
.ks1 .site-footer .endmark path { fill: #ccc; }

.ks1 .site-footer .license {
  padding: 80px 20px 0 20px;
  text-align: right;
}






@media screen and (min-width: 760px) {

body.ks1 {
  padding-top: 0;
}

.ks1 .main-wrapper {
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.ks1 .site-header {
  position: fixed;
  top: 40px;
  left: 40px;
  bottom: 40px;
  height: auto;
  background-color: transparent;
  width: calc(50% - 250px);
  min-width: 250px;
  padding: 170px 30px 0 0;
  border-right: 2px solid #EBEBEB;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: right;
  z-index: 1000;
}

.ks1 .site-header .app-control {
  position: absolute;
  top: 0;
  right: 30px;
  text-align: right;
  min-width: 200px;
}

.ks1 .site-title {
  display: none;
}

.ks1 .site-header .logo {
  background-image: url(/assets/imgs/logo-skel.png);
  position: relative;
  top: auto;
  left: auto;
  width: 150px;
  height: 150px;
  display: inline-block;
}

.ks1 .site-header .main-menu {
  position: relative;
  padding: 2px 0;
  display: block;
  opacity: 1;
  max-height: calc(100vh - 240px);
}

.ks1 .main-menu .menu-item {
  /* Note: font sizes are specified twice because of IE Bug: https://connect.microsoft.com/IE/feedback/details/772679/ie10-not-recognizing-font-decloration-when-rem-is-used-as-font-size-unit-of-measure */
  font: normal 1.6em/1.4 kaelshipmansans, handwriting, monospace;
  font-size: 1.5rem;
  display: block;
  margin: 10px 0 10px auto;
  padding: 5px;
  border-radius: 4px;
  width: 150px; 
  position: relative;
  text-align: right;
}

.ks1 .main-menu .submenu .menu-item {
  padding: 5px;
}

.ks1 .site-footer .license {
  max-width: 400px;
  float: right;
  padding-bottom: 40px;
}










/**
 * Content
 */

.ks1 .content-container {
  padding: 40px 20px 0 320px;
  font-size: 1.1rem;
  z-index:8;
}


.ks1 .main-article {
  position: relative;
}

.ks1 .main-article section p:first-of-type { margin-top: 0; }
.ks1 .main-article section p:last-of-type { margin-bottom: 0; }

.ks1 .main-article header {
  width: 100%;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  line-height: 1.1;
}

.ks1 .main-article header.with-image .content {
	position: absolute;
  width: 420px;
  border-radius: 0 6px 6px 0;
  padding: 40px;
  margin: 40px 0 100px 0;
  background-color: rgba(0,0,0,.5);
  color: white;
	z-index: 8;
  transition: opacity .125s;
}

.ks1 .main-article header.with-image:hover .content {
  opacity: 0;
}

.ks1 .main-article .with-image .post-main-img {
	margin-top: 0;
}

.ks1 .main-article header h2 {
  margin-top: 0;
	font-size: 2.2rem;
}


}



@media screen and (min-width: 920px) {

.ks1.about.me .content-container {
  background-size: 560px;
}

}
